* {
    box-sizing: border-box;
  }
  
  body {
    background:url(Glitter\ Heart\ &\ Star\ Backgrounds\ Set\ _\ Glitter\ Shape\ Patterned\ Backgrounds\ _\ High\ Resolution\ Images\ _\ rawpixel.jpeg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  h2{
    font-size: 40px;
    margin: 0;
    color:hsl(259, 100%, 65%) ;
  }

  .outer-container {
    width: 100%;
    display: flex;
    min-height: 568px;
    align-items: center;
    justify-content: center;
  }
  .top-content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap:8%;
    width: 300px;
  }
  .content {
    background-color: hsl(0, 0%, 100%);
    width: 60%;
    max-width: 550px;
    min-width: 300px;
    min-height: 250px;
    border-radius: 10px 10px 30% 10px;
    box-shadow: 0px 0px 4px gray;
    padding: 30px 30px 0px 30px;
  }
  .bottom-content {
    padding: 80px 0 30px 0;
  }
  .label {
    font-family: "Poppins";
    color: hsl(0, 1%, 44%);
    font-weight: 300;
    font-size: 13px;
    
    
  }
  
  
  .input {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 25px;
  }
  .error_message {
    width: 400px;
    display: flex;
    gap: 150px;
    font-family: "Poppins";
    color: hsl(0, 1%, 44%);
    font-weight: 300;
    font-size: 13px;
    
    
  }
  input {
    width: 100%;
    height: 45px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins";
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  input:focus{
    outline: none;
    border: 1px solid hsl(259, 100%, 65%);
  }
  .circle {
    background-color: rgb(0, 0, 0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    right: 0;
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: hsl(0, 1%, 44%);
    opacity: 0.3;
    position: relative;
    top:50px;
  }
  
  .output {
    font-family: "Poppins";
    font-size: 69px !important;
    font-weight: 900 !important;
    color: hsl(259, 100%, 65%);
    margin-right: 10px;
  }
  .paragraph p{
    font-size: 60px;
    font-weight: 900 !important;
    color: black;
    margin: 0;
    font-family: "Poppins";
  }
  .paragraph{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  .material-symbols-outlined {
    /*on hover,move symbol*/
    font-size: 70px !important;
    font-weight: 900 !important;
    display: flex;
    align-items: center;
    transition: 1s all;
    color: white;
  }
  .circle:hover {
    cursor: pointer;
    background-color: rgba(133, 77, 255, 90%);
  }
  .circle:hover .material-symbols-outlined {
    padding-top: 15px;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    height:80px ;
  }
  @media screen and (max-width:700px){
    
    .input{
      display: flex;
      gap: 10px;
    }
    input{
        padding: 10px;
        font-size: 20px;
       
    }
    .paragraph p{
      font-size: 40px;
    }
    .output{
      font-size: 50px !important;
    }
    .circle{
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translate(-50%);
      width: 50px;
      height: 50px;
  }
  .material-symbols-outlined {
    font-size: 50px !important;
    font-weight: 900 !important;

  }
  .line{
    position:relative;
    top: 75px;
  }
  .top-content{

    width: 100%;
  }
  .bottom-content {
    padding: 100px 0 30px 0;
  }

  }
  