@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-Red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-White: hsl(0, 0%, 94%);
  --Light-Grey: hsl(0, 0%, 86%);
  --Smoke-Grey: hsl(0, 1%, 44%);
  --Off-Black: hsl(0, 0%, 8%);
}
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--Light-Grey);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  h2{
    text-align: center;
    font-size: 40px;
    margin: 0;
    color:hsl(259, 100%, 65%) ;
  }

  .outer-container {
    width: 100%;
    display: flex;
    min-height: 568px;
    align-items: center;
    justify-content: center;
 
  }
  .top-content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap:8%;
    width: 400px;
  }
  .content {
    background-color: hsl(0, 0%, 100%);
    width: 60%;
    max-width: 600px;
    border-radius: 10px 10px 30% 10px;
    box-shadow: 0px 0px 4px gray;
    padding: 30px 30px 0px 30px;
  }
  .bottom-content {
    padding: 60px 0 30px 0;
  }
  .label {
    font-family: "Poppins";
    color: hsl(0, 1%, 44%);
    font-weight: 600;
    
    
  }
  
  
  .input {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 25px;
  }
  .error_message {
    width: 400px;
    display: flex;
    gap: 150px;
    font-family: "Poppins";
    color: hsl(0, 1%, 44%);
    font-weight: 300;
    font-size: 13px;
    
    
  }
  input {
    width: 100%;
    height: 45px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins";
    padding: 20px;
    border: 1px solid grey;
    border-radius: 10px;
  }
  input:focus{
    outline: none;
    border: 1px solid hsl(259, 100%, 65%);
  }
  input::placeholder {
  font-size: 1.5rem;
  font-weight: 800;
}
  .circle {
    background-color: var(--Purple);;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  hr{
   color: var(--Light-Grey);
   width: 100%;
  }
  .line {
    width: 100%;
    height: 1px;

    opacity: 0.3;
    position: relative;
    top:50px;
    display: flex;
    align-items: center;

  }
  
  .output {
    font-family: "Poppins";
    font-weight: 900 !important;
    color: hsl(259, 100%, 65%);
    margin-right: 10px;
  }
  .bottom-content h1 {
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
    height: fit-content;
    margin: 0;
  }
  
  .bottom-content span {
    color: var(--Purple);
  }
  
  .circle:hover {
    cursor: pointer;
    background-color: var(--Off-Black);
  }
  .circle:hover img {
    padding-top: 15px;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    height:80px ;
  }
  .attribution { font-size: 20px; text-align: center; color:black
  }
      .attribution a { color:hsl(259, 100%, 65%); }
  
  @media screen and (max-width:700px){
    .content{
      width: 80%;
    }
    .input{
      display: flex;
      gap: 10px;
    }
    input{
        padding: 10px;
        font-size: 20px;
       
    }
    
    .output{
      font-size: 50px !important;
    }
    .circle{
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translate(-50%);
      width: 50px;
      height: 50px;
  }
  .material-symbols-outlined {
    font-size: 50px !important;
    font-weight: 900 !important;

  }
  .line{
    position:relative;
    top: 75px;
  }
  .top-content{

    width: 100%;
  }
  .bottom-content {
    padding: 80px 0 30px 0;
  }
  .bottom-content h1 {
    font-size: 2.5rem;
  }

  }
  